<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_2do_Parcial___Gestor___Consola.My.MySettings.Conexion"
            connectionString="Data Source=DESKTOP-LOGOIN2\SQLEXPRESS01;Initial Catalog=GestorTareas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>